<?xml version="1.0"?>
<robot name="Ycar">

<material name="body">
  <color rgba="0.2 0.2 0.2 0.5"/>
</material>

<material name="wheel">
  <color rgba="0 0 0 1"/>
</material>

<material name="lidar">
  <color rgba="1 0 0 1"/>
</material>

<material name="IMU">
  <color rgba="0 1 0 1"/>
</material>

<link name="base_footprint"/>

<joint name="base_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <origin xyz="0 0 0.6" rpy="0 0 0"/>
</joint>
  

<link name="base_link">
  <visual>
    <geometry>
      <box size="1.8 1.2 0.6"/>
    </geometry>
    <origin rpy="0 0 0" xyz="0 0 -0.3"/>
    <material name="body"/>
  </visual>
</link>

<joint name="velodyne_joint" type="fixed">
  <parent link="base_link"/>
  <child link="velodyne"/>
  <origin xyz="0 0 0.2" rpy="0 0 0"/>
</joint>

<link name="velodyne">
  <visual>
    <geometry>
      <box size="0.1 0.1 0.1"/>
    </geometry>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <material name="IMU"/>
  </visual>
</link>

<joint name="imu_joint" type="fixed">
  <parent link="base_link"/>
  <child link="imu"/>
  <origin xyz="-0.6 0 0" rpy="0 0 0"/>
</joint>

<link name="imu">
  <visual>
    <geometry>
      <box size="0.1 0.1 0.1"/>
    </geometry>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <material name="lidar"/>
  </visual>
</link>

</robot>