<?xml version="1.0"?>


<launch>
	<!--<param name="/use_sim_time" value="true"/>-->
	<!-- utm_odom data-->
	
	<!--<node pkg="gps_common" type="utm_odometry_node" name="gps_path_odom" output="screen">
	</node>-->

	<!-- gps_odom data-->
    

	<!-- Pure persuit-->
    	<node pkg="stauto_sensor" type="gps_control.py" name="controller" output="screen">
	</node>


	<!-- Current odom-->
    	<!--<node pkg="gps_common" type="utm_odometry_node" name="gps_odom" output="screen">
	</node>-->
	

	<!-- GPS_Path data-->
    	<node pkg="stauto_sensor" type="gps_path_pure_pursuit.py" name="gps_path_waypoint" output="screen">
	</node>


</launch>
