
<launch>
  <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" clear_params="true">

    <!-- Placeholders for input remapping. Set your topic names as the "to" values.
    <remap from="imu/data" to=""/>
    <remap from="odometry/filtered" to=""/>
    <remap from="gps/fix" to=""/>
    -->

  </node>
  <param name="/use_sim_time" value="true" />

  <arg name="model" default="$(find robot_description)/urdf/platform_base_allink.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node pkg="stauto_sensor" type="enc_odom.py" name="enc_odom" output="screen"> </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <arg name="map_file" default="/home/rnd/catkin_ws/map.yaml"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- <node name="get_gps_node" pkg="stauto_sensor" type="get_gps_data"/> -->

  <node pkg="tf" type="static_transform_publisher" name="map_tf" args="1 0 0 0 0 0 world map 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_tf" args="0 0 0 0 0 0 world base_link 100" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="GPS_tf" args="0 0 0 0 0 0 map GPS_link 100" /> -->

  <node type="rviz" name="rviz" pkg="rviz" args="-d /home/rnd/.rviz/default.rviz" />

</launch>

